.time-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  border: 1px solid rgb(34, 34, 34);
  padding: 15px 5px;

  &__clock {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
}
