.weather-container {
  &__item {
    background-color: rgb(109, 109, 109);
    width: 100%;
    margin: 2px 0;
    padding: 20px 10px;

    &--animated {
      animation: fadeIn 60s infinite;

      @keyframes fadeIn {
        0% {
          background-color: rgb(128, 128, 128);
        }

        4% {
          background-color: rgb(109, 109, 109);
        }
      }
    }
  }
}

.weather {
  width: 180px;
}
